## 07 파이썬 분기문

101
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

Boolean

102
아래 코드의 출력 결과를 예상하라

print(3 == 5)

In [2]:
print(3 == 5)

False

103
아래 코드의 출력 결과를 예상하라

print(3 < 5)

In [3]:
print(3 < 5)

True

104
아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

In [5]:
x = 4
print(1 < x < 5)

True

In [ ]:
105
아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

In [6]:
print ((3 == 3) and (4 != 3))

True

In [ ]:
106
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

In [7]:
print(3 >= 4)

False

In [ ]:
107
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

In [9]:
if 4 < 3:
    print("Hello World")

In [ ]:
108
아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [10]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
109
아래 코드의 출력 결과를 예상하라#

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [11]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
110
아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [12]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
111
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.#

>> 안녕하세요
안녕하세요안녕하세요

In [13]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
112
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.#

>> 숫자를 입력하세요: 30
40

In [15]:
user = input("숫자를 입력하세요:")
print(int(user) + 10)

숫자를 입력하세요:30
40

In [ ]:
113
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

>> 30
짝수

In [23]:
user = input(": ")
if int(user) % 2 == 0:
    print ("짝수")
else:
    print( "홀수")

: 30
짝수

114
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [30]:
user = input(" ")
if int(user) + 20 > 255:
    print(255)
else:
    print(int(user) + 20)

 100
120

115
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [35]:
user = input(" ")
if int(user) - 20 < 0:
    print(0)
else:
    print(int(user) - 20)

 15
0

In [ ]:
116
사용자로부터 입력 받은 시간이 정각인지 판별하라.

>> 현재시간:02:00
정각 입니다.
>> 현재시간:03:10
정각이 아닙니다

In [4]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 12:00
정각 입니다.

In [ ]:
117
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
>> 좋아하는 과일은? 사과
정답입니다.

In [3]:
user = input("좋아하는 과일은?")
fruit = ["사과", "포도", "홍시"]
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

In [ ]:
118
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [6]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("")

if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

Microsoft
투자 경고 종목입니다.

In [ ]:
119
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

In [11]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

바다
오답입니다.

In [ ]:
120
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

In [12]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

딸기
정답입니다.

In [ ]:
121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

>> a
A

In [23]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

A
a

In [ ]:
122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수	학점
81~100	A
61~80	B
41~60	C
21~40	D
0~20	E

In [26]:
score = input("")
if (81 <= int(score) <= 100):
    print("A")
elif (61 <= int(score) <= 80):
    print("B")
elif (41 <= int(score) <= 60):
    print("C")
elif (21 <= int(score) <= 40):
    print("D")
else:
    print("E")

21
D

In [ ]:
123
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라.#
각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

통화명	환율
달러	1167
엔	1.096
유로	1268
위안	171
>> 입력: 100 달러
116700.00 원

In [1]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
124
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.#

>> input number1: 10
>> input number2: 9
>> input number3: 20
20

In [1]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 20
input number3: 30
30

In [4]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 20
input number3: 30
30

In [ ]:
125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음
>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [6]:
num = input("")
if num[1:3] == "11":
    com = "SKT"
elif num[1:3] == "16":
    com = "KT"
elif num[1:3] == "19":
    com = "LGU"
else:
    com = "알수 없음"
print(f"당신은 {com} 사용자입니다.")

0113454444
당신은 SKT 사용자입니다.

In [ ]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

In [ ]:
126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

-	0	1	2	3	4	5	6	7	8	9
01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

>> 우편번호: 01400
도봉구

In [8]:
num = input("우편번호: ")

post = num[:3]
if post in ["010", "011", "012"]:
    print("강북구")
elif post in ["014", "015", "016"]:   
    print("도봉구")
else:
    print("노원구")

우편번호: 010
강북구

In [ ]:
127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다.
사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
남자

In [9]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 971009-2333443
여자

In [ ]:
128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드	출생지
00 ~ 08	서울
09 ~ 12	부산

In [ ]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 뒷자리[1:3] in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
     print("서울 입니다.")
else:
    print("서울이 아닙니다.")

In [ ]:
129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.#
먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

  8 2 1 0 1 0 - 1 6 3 5 2 1 0
x 2 3 4 5 6 7   8 9 2 3 4 5 
-----------------------------
1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
2차 계산: 11 -7 = 4
위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 
즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [ ]:
data = input("주민등록번호: ")
data = data.replace("-", "")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5

계산1 = 계산1 % 11
계산2 = 11 - 계산1
계산2 = str(계산2)

if data[-1] == 계산2[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [ ]:
130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.#

import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 
최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

Key Name	Description
opening_price	최근 24시간 내 시작 거래금액
closing_price	최근 24시간 내 마지막 거래금액
min_price	최근 24시간 내 최저 거래금액
max_price	최근 24시간 내 최고 거래금액

In [3]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if(시가 + 변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

## 08 파이썬 반복문

In [ ]:
131
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

In [2]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
132
for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

In [3]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

In [4]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [5]:
print("A")
print("B")
print("C")

A
B
C

In [ ]:
134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

In [6]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [7]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [ ]:
135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

In [8]:
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [11]:
변수 = "A"
b = 변수.lower()
print("변환: ", b)

변수 = "B"
b = 변수.lower()
print("변환: ", b)

변수 = "C"
b = 변수.lower()
print("변환: ", b)

변환:  a
변환:  b
변환:  c

In [ ]:
136
다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [17]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [ ]:
137
다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

In [18]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [ ]:
138
다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

In [21]:
for i in [10, 20, 30]:
    print(i)
    print("------")

10
------
20
------
30
------

In [ ]:
139
다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

In [22]:
print("++++")
for i in [10, 20, 30]:
    print(i)

++++
10
20
30

In [ ]:
140
다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

In [24]:
for i in ["-------"]:
    print(i)
    print(i)
    print(i)
    print(i)

-------
-------
-------
-------

In [25]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [ ]:
141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]
110
210
310

In [26]:
for i in [100, 200, 300]:
    print(i + 10)

110
210
310

In [ ]:
142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [28]:
for i in ["김밥", "라면", "튀김"]:
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
143
리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
저장된 문자열의 길이를 다음과 같이 출력하라.

6
4
4

In [35]:
for i in ["SK하이닉스", "삼성전자", "LG전자"]:
    print(len(i))

6
4
4

In [ ]:
144
리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
동물 이름과 글자수를 다음과 같이 출력하라.

dog 3
cat 3
parrot 6

In [39]:
for i in ['dog', 'cat', 'parrot']:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
145
리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

d
c
p

In [40]:
for i in ['dog', 'cat', 'parrot']:
    print(i[0])

d
c
p

In [ ]:
146
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1
3 x 2
3 x 3

In [42]:
for i in [1, 2, 3]:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [ ]:
147
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
for문을 사용해서 다음과 같이 출력하라.

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [47]:
for i in [1, 2, 3]:
    print("3 x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
148
리스트에는 네 개의 문자열이 바인딩돼 있다.#

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

나
다
라

In [55]:
list = ["가", "나", "다", "라"]
for i in list[1:]:
    print(i)

나
다
라

In [ ]:
149
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

가
다

In [59]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[0],리스트[2]:
    print(i)

가
다

In [60]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

가
다

In [ ]:
150
리스트에는 네 개의 문자열이 바인딩돼 있다.#

리스트 = ["가", "나", "다", "라"]
for문을 사용해서 다음과 같이 출력하라.

라
다
나
가

In [71]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[: :-1]:
    print(i)

라
다
나
가

In [ ]:
151
리스트에는 네 개의 정수가 저장돼 있다.#

리스트 = [3, -20, -3, 44]
for문을 사용해서 리스트의 음수를 출력하라.

-20
-3

In [75]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [ ]:
152
for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
3

In [76]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [ ]:
153
리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
12
18

In [78]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [ ]:
154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
study
python
language

In [80]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [ ]:
155
리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
A
D

In [82]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [ ]:
156
리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
b
c

In [83]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [ ]:
157
이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
Dog
Cat
Parrot

In [89]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [ ]:
158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
hello
ex01
intro

In [94]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split(".")[0])

hello
ex01
intro

In [ ]:
159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.#

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

In [111]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if split[1] == "h":
        print(i)

intra.h
define.h

In [ ]:
160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
intra.h
intra.c
define.h

In [116]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split('.')
    if split[1] == "h" or split[1] == "c":
        print(i)

intra.h
intra.c
define.h

In [ ]:
161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [117]:
for i in range(0, 100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

In [119]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

3 
6 
9 
12 
15 
18 
21 
24 
27 
30

In [125]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.#

In [130]:
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
165
for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [140]:
for i in range(0, 10):
    print(0.1 * float(i))

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [ ]:
166
구구단 3단을 출력하라.#

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [145]:
for i in range(1, 10):
    print(3, "x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [146]:
for i in range(1, 10, 2):
    print(3, "x", i, "=", 3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.#

합 : 55

In [148]:
sum = 0
for i in range(1, 11):
    sum += i
print("합: ", sum)

합:  55

In [ ]:
169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합: 25

In [156]:
sum = 0
for i in range(1,10,2):
    sum += i
print("합: ", sum)

합:  25

In [ ]:
170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [158]:
mul = 1
for i in range(1,11):
    mul *= i
print("곱: ", mul)

곱:  3628800

In [ ]:
171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
32100
32150
32000
32500

In [160]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.#

price_list = [32100, 32150, 32000, 32500]
0 32100
1 32150
2 32000
3 32500

In [161]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [ ]:
173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.#

price_list = [32100, 32150, 32000, 32500]
3 32100
2 32150
1 32000
0 32500

In [171]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.#

price_list = [32100, 32150, 32000, 32500]
100 32150
110 32000
120 32500

In [191]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
175
my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
가 나
나 다
다 라

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in my_list