## 01. 파이썬 시작하기

001 print 기초
화면에 Hello World 문자열을 출력하세요.

In [2]:
print("Hello World")

Hello World

002 print 기초
화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

003 print 기초
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [68]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

004 print 기초
화면에 C:\Windows를 출력하세요.

In [9]:
print("C:\Windows")

C:\Windows

005 print 탭과 줄바꿈
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [11]:
print("안녕하세요.\n만나서\t\t반갑습니다.") # \n은 줄바꿈 \t는 탭

안녕하세요.
만나서		반갑습니다.

006 print 여러 데이터 출력
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

In [69]:
print("오늘은", "일요일")

오늘은 일요일

007 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [75]:
print("naver", "kakao", "sk", "samsung", sep = ";")

naver;kakao;sk;samsung

008 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [74]:
print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.#

print("first");print("second")

In [79]:
print("first", end =""); print("second")

firstsecond

010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [80]:
print(5/3)

1.6666666666666667

## 02. 파이썬 문법 리뷰

011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [15]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [21]:
시가총액 = 29800000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"
>> t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [66]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

>> 2 + 2 * 3

In [29]:
2 + 2 * 3

8

015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128
>> print (type(a))
<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"

In [31]:
a = "132"
print(type(a))

<class 'str'>

016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.#

>> num_str = "720"

In [36]:
num_str = "720" 
num_int = int(num_str)
print(int(num_str))

720

017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.#

num = 100

In [48]:
num = 100
string = str(num)
print(string, type(string))

100 <class 'str'>

018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요. #

In [58]:
num_string = "15.79"
num_float = float(num_string)
print(num_float, type(num_float))

15.79 <class 'float'>

019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [62]:
year = "2020"
year_int = int(year)
print(int(year) - 3, int(year) - 2, int(year) - 1)

2017 2018 2019

020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [64]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

## 03. 파이썬 문자열

021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.#

>> letters = 'python'

In [11]:
letters = 'python'
print(letters[0], letters[2])

p t

022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.#

>> license_plate = "24가 2210"

In [84]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"

In [85]:
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4], sep = "")

홀홀홀

In [86]:
string = "홀짝홀짝홀짝"
print(string[::2]) # 처음부터 끝까지 2씩 출력

홀홀홀

024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요. #

>> string = "PYTHON"

In [87]:
string = "PYTHON"
print(string[::-1]) # 암기

NOHTYP

025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.#
>> phone_number = "010-1111-2222"

In [43]:
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

010 1111 2222

026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요

In [44]:
phone_number = "010-1111-2222"
print(phone_number.replace("-", ""))

01011112222

027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.#

>> url = "http://sharebook.kr"

In [88]:
url = "http://sharebook.kr"
print(url[-2:])

kr

028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.#

>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [65]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.#

>> string = 'abcdfe2a354a32a'

In [89]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

`abcd`가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.
>> a = "3"
>> b = "4"
>> print(a + b)

In [94]:
a = "3"
b = "4"
print(a + b)

34

032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [95]:
print("Hi" * 3)

HiHiHi

033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [97]:
print("-" * 80)

--------------------------------------------------------------------------------

034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.#

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

In [110]:
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.#

In [115]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [125]:
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.#

상장주식수 = "5,969,782,550"

In [143]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(",","")
int(a)
print(type(int(a)))

<class 'int'>

039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [150]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [158]:
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [5]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [6]:
ticker = "btc_krw"
print(ticker.lower())

btc_krw

043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [4]:
string = 'hello'
string.replace('h', 'H')

'Hello'

In [9]:
a = 'hello'
a = a.capitalize()

044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.#

file_name = "보고서.xlsx"

In [14]:
file_name = "보고서.xlsx"
file_name.endswith('xlsx')

True

045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [17]:
file_name = "보고서.xlsx"
file_name.endswith(('xlsx', 'xls'))

True

046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [18]:
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.#

a = "hello world"

In [21]:
a = "hello world"
a.split()

['hello', 'world']

048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [22]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [23]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [24]:
data = "039490 "
data.rstrip(" ")

'039490'

## 04. 파이썬 리스트

051 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [27]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키']

052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [32]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

053
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [34]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

054
movie_rank 리스트에서 '럭키'를 삭제하라.#

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [38]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.#

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [44]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

061
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

In [46]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
del price[0]
print(price)

[100, 130, 140, 150, 160, 170]

In [48]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

062
슬라이싱을 사용해서 홀수만 출력하라.#

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
063
슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

064
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.#

nums = [1, 2, 3, 4, 5]

In [58]:
nums = [1, 2, 3, 4, 5]
nums.reverse()
nums

[5, 4, 3, 2, 1]

065
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자 Naver

In [63]:
interest = ['삼성전자', 'LG전자', 'Naver']
interest.remove('LG전자')
interest

['삼성전자', 'Naver']

066 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.#

출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [3]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

067 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [7]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/". join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

068 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [9]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

069 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
이를 interest 이름의 리스트로 분리 저장하라.

실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']

In [12]:
string = "삼성전자/LG전자/Naver"
print(string.split("/"))

['삼성전자', 'LG전자', 'Naver']

070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.#

data = [2, 4, 3, 1, 5, 10, 9]

In [16]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

## 05. 파이썬 튜플

071
my_variable 이름의 비어있는 튜플을 만들라.

In [22]:
my_variable = ()

In [23]:
print(type(my_variable))

<class 'tuple'>

2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화
1	닥터 스트레인지
2	스플릿
3	럭키

In [26]:
movie_rank = ('닥터스트레인지', '스플릿', '럭키')
print(movie_rank)

('닥터스트레인지', '스플릿', '럭키')

073
숫자 1 이 저장된 튜플을 생성하라.#

In [28]:
t = (1, )
type(t)

tuple

074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple은 원소(element)의 값을 변경할 수 없습니다.

075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [29]:
t = 1, 2, 3, 4

In [30]:
type(t)

tuple

076
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [31]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [32]:
print(t)

('A', 'b', 'c')

077
다음 튜플을 리스트로 변환하라.#

interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [36]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(type(data))

<class 'list'>

078
다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [37]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(type(data))

<class 'tuple'>

079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [38]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

080 range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.#

(2, 4, 6, 8 ... 98)

In [39]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)