# 4.3 데이터프레임 고급 인덱싱

### loc 인덱서

In [4]:
import pandas as pd

In [8]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

NameError: name 'np' is not defined

### 인덱싱값을 하나만 받는 경우

In [3]:
df['A']

NameError: name 'df' is not defined

In [9]:
df.loc["a"]

NameError: name 'df' is not defined

In [10]:
df.loc["b":"c"]

NameError: name 'df' is not defined

In [11]:
df["b":"c"]

NameError: name 'df' is not defined

In [12]:
df.loc[ ["b", "c"] ]

NameError: name 'df' is not defined

In [13]:
df[["b", "c"]] # KeyError

NameError: name 'df' is not defined

In [ ]:
df.A > 15

In [ ]:
df.loc[df.A > 15]

In [ ]:
def select_rows(df):
    return df.A > 15

In [ ]:
select_rows(df)

In [ ]:
df.loc[select_rows(df)]

In [ ]:
df['A']

In [ ]:
df.loc["A"]  # KeyError

In [ ]:
df[["A", "B"]]

In [14]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

NameError: name 'np' is not defined

In [15]:
df2.loc[1:2]

NameError: name 'df2' is not defined

### 인덱싱값을 행과 열 모두 받는 경우

In [16]:
df

NameError: name 'df' is not defined

In [ ]:
df.loc["a", "A"]

In [ ]:
df.loc["b": , "A"]

In [ ]:
df.loc["a", :]

In [ ]:
df.loc[["a", "b"], ["B", "D"]]

In [ ]:
df.loc[df.A > 10, ["C", "D"]]

### iloc 인덱서

In [ ]:
df

In [ ]:
df.iloc[0, 1]

In [ ]:
df.iloc[:2, 2]

In [ ]:
df.iloc[0, -2:]

In [ ]:
df.iloc[2:3, 1:3]

In [ ]:
df

In [ ]:
df.iloc[-1]

In [ ]:
df.iloc[-1] = df.iloc[-1] * 2
df