In [ ]:
201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [1]:
def print_coin():
    print("비트코인")

In [ ]:
202
201번에서 정의한 함수를 호출하라.

In [4]:
print_coin()

비트코인

In [ ]:
203
201번에서 정의한 print_coin 함수를 100번호출하라.#

In [6]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [8]:
def print_coin():
    for i in range(100):
        print("비트코인")

In [ ]:
205
아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")

In [ ]:
함수가 정의되기 전에 호출되어서 에러가 발생

In [ ]:
206
아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

In [9]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

In [10]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

In [11]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [ ]:
210
아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [12]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [ ]:
211
함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

In [13]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
212
함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

In [14]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
213
아래와 같은 에러가 발생하는 원인을 설명하라.#

def 함수(문자열) :
    print(문자열)

In [ ]:
함수에 정의와 다르게 함수를 호출하고 있다. 함수를 호출할 때 하나의 파라미터를 입력해야한다.

In [ ]:
214
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

In [ ]:
함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러가 발생

In [ ]:
215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.#

In [2]:
def print_with_smile(string):
    print(string + ":D")

In [ ]:
216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [3]:
print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [8]:
def print_upper_price(price):
    print(price * 1.3)

In [9]:
print_upper_price(100)

130.0

In [ ]:
218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [10]:
def print_sum(a, b):
    print(a + b)

In [11]:
print_sum(1, 2)

3

In [ ]:
219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.#

print_arithmetic_operation(3, 4)
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [31]:
def print_arithmetic_operation(a, b):
    print(a, "+", b,  "=", a+b)
    print(a, "-", b,  "=", a-b)
    print(a, "*", b,  "=", a*b)
    print(a, "/", b,  "=", a/b)

In [32]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [40]:
def print_max(a, b, c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    else:
        print(c)

In [39]:
print_max(1,2,3)

3

221
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.#

print_reverse("python")

In [50]:
def print_reverse(string):
    print(string[::-1])

In [51]:
print_reverse("python")

nohtyp

In [ ]:
222
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.#

print_score ([1, 2, 3])
2.0

In [53]:
def print_score(list):
    print(sum(list)/len(list))

In [54]:
print_score ([1, 2, 3])

2.0

In [ ]:
223
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.#

print_even ([1, 3, 2, 10, 12, 11, 15])
2
10
12

In [57]:
def print_even(list):
    for i in list:
        if i % 2 == 0:
            print(i)

In [58]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
224
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.#

print_keys ({"이름":"김말똥", "나이":30, "성별":0})
이름
나이
성별

In [59]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [60]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
225
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

print_value_by_key  (my_dict, "10/26")
[100, 130, 100, 100]

In [ ]:
def print_value_by_key(my_dict, my_dict.keys()):

In [ ]:
226
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.#

print_5xn("아이엠어보이유알어걸")
아이엠어보
이유알어걸

In [110]:
def print_5xn(text):
    for i in range(0, len(text), 5):
        print(text[i:i+5])

In [111]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

printmxn("아이엠어보이유알어걸", 3)
아이엠
어보이
유알어
걸

In [119]:
def printmxn(text, num):
    for i in range(0, len(text), num):
        print(text[i:i+3])

In [120]:
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
228
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

calc_monthly_salary(12000000)
1000000

In [124]:
def calc_monthly_salary(annual_salary):
    monthly_salary = int(annual_salary/12)
    return monthly_salary

In [125]:
calc_monthly_salary(12000000)

1000000

In [ ]:
229
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

In [126]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
230
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

In [127]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [ ]:
231
아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

In [ ]:
함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다. (문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

In [ ]:
232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

make_url("naver")
www.naver.com

In [88]:
def make_url(string):
    print("www."+ string + ".com")

In [87]:
make_url("naver")

www.naver.com

In [89]:
def make_url(string):
    url = "www." + string + ".com"
    return url

In [93]:
make_url("naver")

'www.naver.com'

In [ ]:
233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

make_list("abcd")
['a', 'b', 'c', 'd']

In [98]:
def make_list(string):
    char_list = list(string)
    return char_list

In [99]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.#

pickup_even([3, 4, 5, 6, 7, 8])
[4, 6, 8]

In [108]:
def pickup_even(list):
    result = []
    for i in list:
        if i % 2 == 0:
            result.append(i)
    return result

In [109]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.#

convert_int("1,234,567")
1234567

In [13]:
def convert_int(string):
    return string.replace(",","")

In [14]:
convert_int("1,234,567")

'1234567'

In [ ]:
236
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

In [15]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [ ]:
237
아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

In [16]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [ ]:
238
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

In [17]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [ ]:
239
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

In [18]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [ ]:
240
아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

In [19]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28